@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.25s ease-in-out;
  scroll-behavior: smooth;
}

body {
  padding: 0 4rem;
color:white;
  background: #1f1d2b;
}

/*  ======== start of header section ======= */
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
}

.scrolled {
  background-color: #fff;
  transition: all 0.5s ease;
}

.scrolled nav ul li a {
  color: #312e42;
  font-weight: 500;
}

.scrolled div a {
  color: #312e42;
  font-weight: 500;
}

.scrolled div a:nth-child(1) {
  border: solid #312e42 1.5px;
  border-radius: 10px;
}

header h3 {
  text-transform: uppercase;
  font-size: 2rem;
  background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header nav ul {
  padding-top: 0.3rem;
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 0.3rem;
  margin: 0.5rem 0.5rem 0;
  font-size: 0.9rem;
  text-transform: uppercase;
}

header nav ul li a {
  text-decoration: none;
  color: #bcbcbc;
  position: relative;
  font-weight: 500;
}

header nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
}

header nav ul li:nth-child(1) a {
  background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header nav ul li:nth-child(1) a:after {
  border-bottom: 3px solid #9b51e0;
  width: 100%;
}

header nav ul li a:hover {
  background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header nav ul li a:hover:after {
  background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: slidein 0.8s forwards;
}

@keyframes slidein {
  0% {
    width: 0;
    border-bottom: 3px solid #9b51e0;
  }

  100% {
    width: 100%;
    border-bottom: 3px solid #9b51e0;
  }
}

header div {
  display: flex;
  align-items: center;
}

header div a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #bcbcbc;
  padding: 0.7rem 1.7rem;
  font-weight: 500;
}

header div a:nth-child(1) {
  border: solid #bcbcbc 1px;
  border-radius: 10px;
}

/*  ======== end of header section ======= */
/* ========= start of introduction section ======== */
#introduction {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
}

#introduction section:nth-child(1) {
  width: 50%;
}

#introduction section:nth-child(1) h1 {
  color: white;
  font-size: 5rem;
  /* padding-right: 10rem; */
  line-height: 85px;
  font-weight: 600;
  margin-bottom: 2rem;
}

#introduction section:nth-child(1) p {
  color: white;
  font-size: 1.7rem;
  font-weight: 300;
  /* padding-right: 10rem; */
  margin-bottom: 3rem;
}

#introduction section:nth-child(1) a {
  text-decoration: none;
  color: #fff;
  border: solid #d7d7d7 1px;
  padding: 0.7rem 3.5rem;
  border-radius: 12px;
  font-weight: 600;
  margin: 0 1rem 0 0.5rem;
}

#introduction section:nth-child(1) a:nth-child(1) {
  border: none;
  background: linear-gradient(
    103.91deg,
    #9b51e0 21.01%,
    rgba(48, 129, 237, 0.8) 100%
  );
}

#introduction section:nth-child(2) {
  width: 50%;
  /* border: solid #fff 1px; */
  padding: 0 3rem;
}

#introduction section:nth-child(2) .card {
  width: 80%;
  float: right;
  border-radius: 15px;
  padding: 1.5rem;
  text-align: center;
  background: linear-gradient(
    169.44deg,
    rgba(58, 129, 191, 0.08) 1.85%,
    rgba(65, 48, 90, 0.08) 98.72%
  );
  backdrop-filter: blur(40px);
  position: relative;
}

#introduction section:nth-child(2) .card::before {
  content: "";
  width: 115px;
  height: 115px;
  border-radius: 50%;
  position: absolute;
  top: -3rem;
  left: -3rem;
  background: #fb37ff;
  filter: blur(85px);
}

#introduction section:nth-child(2) .card::after {
  content: "";
  width: 115px;
  height: 115px;
  border-radius: 50%;
  position: absolute;
  bottom: -3rem;
  right: -3rem;
  border: solid;
  background: #18b2de;
  filter: blur(85px);
}

#introduction section:nth-child(2) .card img {
  width: 100%;
}

#introduction section:nth-child(2) .user-info {
  text-align: left;
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 2rem;
}

#introduction section:nth-child(2) .user-info::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  padding: 0.88px;
  background: linear-gradient(
    168.82deg,
    #fb37ff 1.7%,
    rgba(155, 111, 238, 0) 27.12%,
    rgba(123, 127, 234, 0) 61.28%,
    #1bb2de 99.52%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

#introduction section:nth-child(2) .user-info .user {
  display: flex;
  align-items: center;
}

#introduction section:nth-child(2) .user-info .user div h4 {
  font-size: 0.9rem;
  font-weight: 400;
}

#introduction section:nth-child(2) .user-info .user img {
  width: 3rem;
  margin-right: 0.5rem;
}

#introduction section:nth-child(2) .user-info .icon {
  text-align: right;
}

#introduction section:nth-child(2) .user-info .icon h4 {
  font-size: 0.9rem;
  margin: 0.5rem 0;
  font-weight: 600;
}

#introduction section:nth-child(2) .user-info .icon img {
  width: 1.3rem;
  margin-right: 0.5rem;
}

/* ========= end of introduction section ======== */

/* ========= start of hot auction section ======== */
#auctions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10rem 0 2rem;
  color: #ffffff;
}

#auctions h2 {
  font-size: 2rem;
  font-weight: 500;
}

#auctions div p {
  font-size: 1rem;
  color: #d7d7d7;
}

#auctions div a {
  font-size: 1rem;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
}

#auctions div i {
  padding-left: 0.5rem;
}

#cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  color: #ffffff;
}

figure figcaption,
figure div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
}

hr {
  opacity: 0.5;
}

figure figcaption p:nth-child(2) {
  font-size: 0.8rem;
}

figure div p {
  font-size: 0.7rem;
  color: #bcbcbc;
}

figure div p span {
  color: #ffffff;
}

figure div a {
  text-decoration: none;
  font-size: 0.8rem;
  padding: 0.1rem 1.3rem;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  color: #e2e2e2;
}
/* ========= end of hot auction section ======== */

/* GETTING STARTED SECTION STYLE STARTS */

#getting-started {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  height: 90vh;
  color: white;
}

#getting-started h1 {
  font-weight: 500;
  font-size: 3rem;
  letter-spacing: -1px;
  width: 100%;
}

#getting-started > p {
  color: #e2e2e2;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  margin: 1.5rem 0 6rem;
}

#getting-started #icons {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
}

#getting-started #icons .icon {
  width: calc(80% / 4);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#getting-started #icons .icon div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 130px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.095);
  backdrop-filter: blur(75px);
  box-shadow: inset 2.01px -2.01px 20px rgba(214, 214, 214, 0.17),
    inset -3.01333px 3.01333px 3.01333px rgba(255, 255, 255, 0.39);
  margin-bottom: 1.5rem;
}

#getting-started #icons .icon div img {
  opacity: 0.7;
}

#getting-started #icons .icon p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

#getting-started #bg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 30px;
  border-radius: 20px;
  background: linear-gradient(93.51deg, #9851e0 40%, #3081ed 99.18%);
  filter: blur(80px);
}

#getting-started #icons .icon div:hover > img {
  opacity: 1;
}

/* GETTING STARTED SECTION STAYLE ENDS */
#discover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#discover .header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 30px;
}

#discover .logo_container {
  height: 100%;
  margin-top: 15px;
  color: rgb(253, 253, 252);
}
#discover .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

#discover .navigation a {
  display: table;
  float: left;
  padding: 0.8rem 2.5rem;
}

#discover .navigation a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: white;
  font-size: 16px;
}

#discover .nav_img1 {
  margin-right: 11.17px;
  width: 18px;
}

#discover .nav_img2 {
  margin-left: 7px;
  width: 14px;
}

#discover .nav_img3 {
  width: 18.27px;

  margin-right: 4px;
}
#discover .filter {
  background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
  border-radius: 10px;
}

/* End Header */

/* <!-- Start information style --> */
#discover #parent .Prodacts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 82.5px;
}

#discover #parent .Prodacts .Prodact .image img {
  width: 100%;
}

#discover #parent .Prodacts .Prodact .info {
  margin-top: 24px;
  color: white;
  font-size: 16px;
}

#discover #parent .Prodacts .Prodact .info hr {
  margin-top: 16px;
  margin-bottom: 26.5px;
}

#discover #parent .Prodacts .Prodact .info span {
  float: right;
}

#discover #parent .Prodacts .Prodact .info span input {
  width: 50px;
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 3px;
  color: #fff;
}
/* <!-- End information style --> */

#discover button {
  display: inline-block;
  text-align: center;
  border-radius: 8px;
  border: 1px solid rgb(228, 220, 220);
  background-color: #1f1d2b;
  color: #818080;
  width: 15%;
  height: 45px;
  font-size: 16px;
  font-weight: 500;
  margin: 80.5px auto;
  padding: 0.8rem 2.5rem;
}

#discover button:hover {
  background: #818080;
  color: #1f1d2b;
}

/* Discover Section style End  */
